<div class="nirvanatext01">
    <h1 class="tetxt">Camisas</h1>
</div>

<div class="camisa1">
<div class="card" style="width: 18rem;">
    <img src="assets/img/Nirvana -1.jpg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Camisa Nirvana - Preta</h5>
      <p class="card-text text-justify">Nossas camisetas são o que há de melhor no quesito qualidade, conforto e durabilidade. </p>
      <div class="center">
        <button type="button" class="btn btn-outline-dark">19.20</button>
</div>
 
    </div>
  </div>
</div>

<div class="camisa1">
    <div class="card" style="width: 18rem;">
        <img src="assets/img/Nirvana -2.jpg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Camisa Nirvana - Cinza</h5>
          <p class="card-text text-justify">Nossas camisetas são o que há de melhor no quesito qualidade, conforto e durabilidade. </p>
          <div class="center">
            <button type="button" class="btn btn-outline-dark">20.00</button>
    </div>
     
        </div>
      </div>
    </div>

    <div class="camisa1">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/Nirvana -3.jpg" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Camisa Nirvana - Branca</h5>
              <p class="card-text text-justify">Nossas camisetas são o que há de melhor no quesito qualidade, conforto e durabilidade. </p>
              <div class="center">
                <button type="button" class="btn btn-outline-dark">15.00</button>
        </div>
         
            </div>
          </div>
        </div>
<br><br>
        <div class="camisa1">
          <div class="card" style="width: 18rem;">
              <img src="assets/img/Nirvana -4.jpg" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Camisa Nirvana - Preta</h5>
                <p class="card-text text-justify">Nossas camisetas são o que há de melhor no quesito qualidade, conforto e durabilidade. </p>
                <div class="center">
                  <button type="button" class="btn btn-outline-dark">17.00</button>
                </div>
              </div>
            </div>
          </div>

          <div class="camisa1">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/Nirvana -5.jpg" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">Camisa Nirvana - Branca</h5>
                  <p class="card-text text-justify">Nossas camisetas são o que há de melhor no quesito qualidade, conforto e durabilidade. </p>
                  <div class="center">
                    <button type="button" class="btn btn-outline-dark">17.50</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="camisa1">
              <div class="card" style="width: 18rem;">
                  <img src="assets/img/Nirvana -6.jpg" class="card-img-top" >
                  <div class="card-body">
                    <h5 class="card-title">Camisa Nirvana - Preta</h5>
                    <p class="card-text text-justify">Nossas camisetas são o que há de melhor no quesito qualidade, conforto e durabilidade. </p>
                    <div class="center">
                      <button type="button" class="btn btn-outline-dark">18.90</button>
                    </div>
                  </div>
                </div>
              </div>

    

    <br><br><br><br>

<div class="nav navbar-light   bg-light justify-content-center">
    <span class="navbar-text">
        Club of Rock <strong>@Copyright</strong>
    </span>
</div> 