<div class="Home">
    <h1 class="texthome">Álbuns</h1>
    <div class="album1"><img src="assets/img/Album 1.jpg"></div>
    <div class="album2"><img src="assets/img/Album - 2.jpg"></div>
    <div class="album3"><img src="assets/img/Album - 3.jpg"></div>
</div>

<div class="home1">
    <h1 class="texthome">Nirvana</h1>
<br>
    <p class="textnirva">Nirvana foi uma banda norte-americana de rock formada pelo vocalista e guitarrista Kurt Cobain e pelo baixista Krist Novoselic em Aberdeen no ano de 1987, que obteve grande sucesso no movimento grunge de Seattle no início dos anos 1990. Vários bateristas passaram pelos Nirvana, sendo o que ficou mais tempo na banda Dave Grohl, que entrou em 1990.
    </p>
    <br><br><br>
    <div class="bot1">
        <a href="https://open.spotify.com/album/2UJcKiJxNryhL050F5Z1Fk?si=WA2NAK9QRzqtObR9ZJtpkw&utm_source=copy-link"><button type="button" class="btn btn-light" >TOCAR</button></a>
    </div>
</div>

<div class="home2">
    <h1 class="texthome">Led Zeppelin</h1>
    <br>
    <p class="textnirva">Led Zeppelin foi uma banda britânica de rock formada em Londres, em 1968. Consistia no guitarrista Jimmy Page, no vocalista Robert Plant, no baixista e tecladista John Paul Jones e no baterista John Bonham.
    </p>
    <br><br><br><br><br><br><br>
    <div class="bot2">
        <a href="https://open.spotify.com/album/0GqpoHJREPp0iuXK3HzrHk?si=c6tOvQ-6T5yLT3Tcyx3-kw&utm_source=copy-link"><button type="button" class="btn btn-light" >TOCAR</button></a>
    </div>
</div>

<div class="home3">
    <h1 class="texthome">Pink Floyd</h1>
    <br>
    <p class="textnirva">Pink Floyd foi uma banda britânica de rock formada em Londres em 1965. Ganhando seguidores como um grupo de rock psicodélico, eles se destacaram por suas composições longas, pela experimentação sonora, pelas letras filosóficas e pelas apresentações ao vivo criativas, o que levou a se tornarem uma banda líder do gênero do rock progressivo. Eles são um dos grupos mais bem-sucedidos comercialmente e influentes da história da música popular.
</p>
 <br>
    <div class="bot">
    <a href="https://open.spotify.com/album/0bCAjiUamIFqKJsekOYuRw?si=17z8iPL2QLqCJXi2rIEAYA&utm_source=copy-link"><button type="button" class="btn btn-light" >TOCAR</button></a>
    </div>
</div>
<br><br><br><br>

<div class="nav navbar-light   bg-light justify-content-center">
    <span class="navbar-text">
        Club of Rock <strong>@Copyright</strong>
    </span>
</div> 